<FONT size="10pt" color='Blue'> <center>Estimation des offres financières pour les appels d’offres basé sur les résultats historiques</center></FONT>

- **Dans ce notebook, vous trouverez la présentation des données que je souhaite utiliser pendant le projet**

#### importation des bibliotheques

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from IPython.display import display, Markdown
import missingno as msno

In [4]:
df = pd.read_csv('appels_offres_zero_null.csv')
df.head(5)

,id_appel_offre,titre,description,categorie_marche,secteur,organisme_emetteur,pays,region,ville,date_publication,...,experiences_non_gagnants,historiques_non_gagnants,complexite_projet,exigences_techniques_detaillees,localisations_soumissionnaires,tailles_entreprises,contexte_economique,poids_criteres_attribution,historique_ao_similaires,details_annulations
0,1,Appel d'offre pour maintenance à Rabat,Marché public concernant le secteur maintenanc...,Travaux,Maintenance,Ministère de l'Intérieur,Maroc,Dakhla-Oued Ed-Dahab,Rabat,2025-07-13,...,7; 3; 9; 24,9; 13; 9; 3,Élevée,"Normes ISO 22000, Technologies modernes",Tanger; Tétouan; Mohammedia; Oujda; Nador,Moyenne entreprise; ETI; PME; PME; Grande entr...,"Inflation: 1.2%, Croissance: 2.9%","Technique: 76%, Prix: 24%",Derniers 12 mois: 24 AO similaires,Taux d'annulation secteur: 5%
1,2,Appel d'offre pour agriculture à Beni Mellal,Marché public concernant le secteur agricultur...,Travaux,Agriculture,Office National des Aéroports,Maroc,Laâyoune-Sakia El Hamra,Beni Mellal,2025-07-13,...,18; 25; 5; 8,0; 3; 1; 4,Faible,"Normes ISO 45001, Technologies modernes",Settat; Temara; Meknès; Kenitra; Nador,ETI; PME; ETI; Moyenne entreprise; Moyenne ent...,"Inflation: 3.6%, Croissance: 4.4%","Technique: 72%, Prix: 28%",Derniers 12 mois: 22 AO similaires,Taux d'annulation secteur: 14%
2,3,Appel d'offre pour btp à Settat,Marché public concernant le secteur btp pour A...,Services,BTP,Agence de Développement Social,Maroc,Tanger-Tétouan-Al Hoceïma,Settat,2025-07-13,...,21; 11; 9,1; 0; 6,Élevée,"Normes ISO 45001, Technologies éprouvées",El Jadida; Agadir; Mohammedia; Fès,ETI; ETI; Moyenne entreprise; Moyenne entreprise,"Inflation: 3.7%, Croissance: 4.4%","Technique: 43%, Prix: 57%",Derniers 12 mois: 38 AO similaires,Taux d'annulation secteur: 16%
3,4,Appel d'offre pour informatique à Tétouan,Marché public concernant le secteur informatiq...,Services,Informatique,Agence Nationale de Réglementation des Télécom...,Maroc,Béni Mellal-Khénifra,Tétouan,2025-07-13,...,11; 6; 8; 17,8; 14; 14; 1,Moyenne,"Normes ISO 14001, Technologies innovantes",Casablanca; Temara; Mohammedia; Fès; Berrechid,Grande entreprise; Moyenne entreprise; Grande ...,"Inflation: 3.6%, Croissance: 3.0%","Technique: 61%, Prix: 39%",Derniers 12 mois: 20 AO similaires,Taux d'annulation secteur: 18%
4,5,Appel d'offre pour énergie à Meknès,Marché public concernant le secteur énergie po...,Services,Énergie,Agence Nationale de la Conservation Foncière,Maroc,Rabat-Salé-Kénitra,Meknès,2025-07-13,...,8; 6; 20; 24; 5; 14,1; 11; 3; 8; 11; 8,Faible,"Normes ISO 27001, Technologies innovantes",Berrechid; Temara; Oujda; Kenitra; Nador; Marr...,Grande entreprise; PME; PME; Grande entreprise...,"Inflation: 3.3%, Croissance: 4.0%","Technique: 43%, Prix: 57%",Derniers 12 mois: 37 AO similaires,Taux d'annulation secteur: 9%

- **La description des colonnes de la table de données**

- **id_appel_offre**  
  🔹 Identifiant unique de chaque appel d’offre.  
  🔹 Sert à référencer et différencier chaque enregistrement.  

- **titre**  
  🔹 Titre court décrivant l’objet de l’appel d’offre.  
  🔹 Permet de cerner rapidement le thème ou le secteur du projet.  

- **description**  
  🔹 Description complète de l’appel d’offre, incluant les objectifs et contraintes du projet.  
  🔹 Utile pour l’analyse sémantique ou l’extraction d’informations clés.  

- **categorie_marche**  
  🔹 Type de marché : Travaux, Fournitures, Services, etc.  
  🔹 Permet de catégoriser les AO selon la nature du besoin.  

- **secteur**  
  🔹 Secteur d’activité ciblé par l’appel d’offre (Maintenance, Agriculture, etc.).  
  🔹 Indique le domaine d’intervention économique ou technique.  

- **organisme_emetteur**  
  🔹 Administration ou entité publique ayant publié l’appel d’offre.  
  🔹 Permet d’identifier l’origine institutionnelle du besoin.  

- **pays**  
  🔹 Pays émetteur de l’appel d’offre (toujours “Maroc” dans ce dataset).  
  🔹 Peut être utile dans un contexte multi-pays.  

- **region**  
  🔹 Région administrative concernée par l’exécution du projet.  
  🔹 Permet une analyse géographique plus large.  

- **ville**  
  🔹 Ville spécifique d’implantation ou de réalisation du projet.  
  🔹 Complète l’information de localisation précise.  

- **date_publication**  
  🔹 Date officielle de parution de l’appel d’offre.  
  🔹 Sert à analyser la saisonnalité ou les périodes actives.  

- **experiences_non_gagnants**  
  🔹 Liste des niveaux d’expérience des entreprises non retenues (ex : 3; 7; 9).  
  🔹 Peut être utilisé pour analyser le profil des soumissionnaires écartés.  

- **historiques_non_gagnants**  
  🔹 Historique des participations des non-gagnants à des AO similaires.  
  🔹 Permet de détecter des entreprises persistantes ou en échec récurrent.  

- **complexite_projet**  
  🔹 Degré de difficulté estimé du projet : Faible, Moyenne, Élevée.  
  🔹 Permet d’ajuster l’analyse des exigences et des résultats.  

- **exigences_techniques_detaillees**  
  🔹 Normes ou standards techniques requis (ex : ISO, technologies spécifiques).  
  🔹 Donne une idée du niveau technique attendu.  

- **localisations_soumissionnaires**  
  🔹 Liste des villes d’origine des entreprises soumissionnaires.  
  🔹 Permet une cartographie de la concurrence géographique.  

- **tailles_entreprises**  
  🔹 Catégories de taille des soumissionnaires : PME, ETI, Grandes entreprises.  
  🔹 Utile pour évaluer l’accessibilité des AO selon la taille des entreprises.  

- **contexte_economique**  
  🔹 Indicateurs économiques (Inflation, Croissance) au moment de l’AO.  
  🔹 Permet de contextualiser les enjeux économiques.  

- **poids_criteres_attribution**  
  🔹 Répartition pondérée entre les critères d’attribution (ex : Technique 76%, Prix 24%).  
  🔹 Crucial pour comprendre les logiques de sélection.  

- **historique_ao_similaires**  
  🔹 Nombre d’appels d’offres similaires publiés récemment (12 derniers mois).  
  🔹 Indique la fréquence ou la récurrence d’un type de projet.  

- **details_annulations**  
  🔹 Taux ou causes d’annulation dans le secteur concerné.  
  🔹 Utile pour estimer les risques ou l’instabilité dans certains domaines.

In [10]:
display(Markdown(f'- la dimension de la Table est : **{df.shape}**'))

- la dimension de la Table est : **(10000, 41)**

In [9]:
display(Markdown(f'- le nombres des Apples offres repeter est  : **{df.duplicated().sum()}**'))

- le nombres des vehicule double est : **0**

In [17]:
display(Markdown('**- Le nombre des valeurs nulles dans chaque colonne est :**'))
df.isna().sum()

**- Le nombre des valeurs nulles dans chaque colonne est :**

id_appel_offre                               0
titre                                        0
description                                  0
categorie_marche                             0
secteur                                      0
organisme_emetteur                           0
pays                                         0
region                                       0
ville                                        0
date_publication                             0
date_limite                                  0
date_resultat                                0
budget_estime                                0
soumissionnaires                             0
montants_soumis                              0
soumissionnaire_gagnant                      0
montant_gagnant                              0
montant_moyen                                0
ecart_montant_vs_budget                      0
delai_execution                              0
type_procedure                               0
critere_attribution                          0
nombre_soumissionnaires                      0
historique_gagnant_dans_les_3_derniers_ao    0
nombre_ao_gagnes_par_gagnant                 0
experience_gagnant                           0
notation_technique_gagnant                   0
statut_ao                                    0
motif_annulation                             0
notes_techniques_non_gagnants                0
capacites_financieres                        0
experiences_non_gagnants                     0
historiques_non_gagnants                     0
complexite_projet                            0
exigences_techniques_detaillees              0
localisations_soumissionnaires               0
tailles_entreprises                          0
contexte_economique                          0
poids_criteres_attribution                   0
historique_ao_similaires                     0
details_annulations                          0
dtype: int64

In [18]:
display(Markdown(f'- Nombre de Marche distinctes dans la colonne  **categorie_marche est : {df["categorie_marche"].nunique()}**'))

- Nombre de Marche distinctes dans la colonne  **categorie_marche est : 3**

In [19]:
df['categorie_marche'].value_counts()

categorie_marche
Travaux        3385
Services       3309
Fournitures    3306
Name: count, dtype: int64

In [20]:
display(Markdown(f'- Nombre de secteur distinctes dans la colonne  **secteur est : {df["secteur"].nunique()}**'))

- Nombre de secteur distinctes dans la colonne  **secteur est : 13**

In [21]:
df['secteur'].value_counts()

secteur
Médical                  823
Fournitures scolaires    815
Environnement            775
BTP                      772
Transport                770
Télécommunications       767
Informatique             767
Conseil                  764
Sécurité                 758
Formation                757
Énergie                  756
Agriculture              749
Maintenance              727
Name: count, dtype: int64

In [22]:
display(Markdown(f'- Nombre de organisme_emetteur distinctes dans la colonne  **organisme_emetteur est : {df["organisme_emetteur"].nunique()}**'))

- Nombre de organisme_emetteur distinctes dans la colonne  **organisme_emetteur est : 20**

In [23]:
df['organisme_emetteur'].value_counts()

organisme_emetteur
Ministère de l'Équipement                                    536
Barid Al-Maghrib                                             531
Ministère de l'Agriculture                                   519
Agence Nationale de l'Assurance Maladie                      516
Office National des Chemins de Fer                           516
Agence Nationale de la Conservation Foncière                 515
Office de la Formation Professionnelle                       514
Agence Nationale de Réglementation des Télécommunications    513
Office National des Aéroports                                506
Ministère de l'Intérieur                                     499
Ministère de l'Éducation                                     499
Ministère de la Justice                                      495
Agence de Développement Social                               493
Office National de Sécurité Sanitaire                        491
Caisse de Dépôt et de Gestion                                489
Royal Air Maroc                                              489
Ministère de la Santé                                        481
Caisse Nationale de Sécurité Sociale                         475
Office National des Hydrocarbures                            473
Office National de l'Électricité et de l'Eau Potable         450
Name: count, dtype: int64

In [24]:
display(Markdown(f'- Nombre de region distinctes dans la colonne  **region est : {df["region"].nunique()}**'))

- Nombre de region distinctes dans la colonne  **region est : 12**

In [25]:
df['region'].value_counts()

region
Guelmim-Oued Noun            872
Béni Mellal-Khénifra         871
Souss-Massa                  870
Fès-Meknès                   859
Rabat-Salé-Kénitra           839
Laâyoune-Sakia El Hamra      833
Dakhla-Oued Ed-Dahab         829
Casablanca-Settat            823
Marrakech-Safi               820
Tanger-Tétouan-Al Hoceïma    819
Drâa-Tafilalet               800
Oriental                     765
Name: count, dtype: int64

In [26]:
display(Markdown(f'- Nombre des ville distinctes dans la colonne  **ville est : {df["ville"].nunique()}**'))

- Nombre des ville distinctes dans la colonne  **ville est : 20**

In [27]:
df['ville'].value_counts()

ville
Nador          547
Salé           529
Kenitra        526
Safi           524
Agadir         511
El Jadida      507
Marrakech      506
Casablanca     504
Tanger         503
Tétouan        498
Rabat          494
Beni Mellal    491
Settat         490
Fès            488
Temara         487
Mohammedia     486
Meknès         482
Khouribga      482
Oujda          473
Berrechid      472
Name: count, dtype: int64

In [28]:
display(Markdown(f'- Nombre des categorie de  complexite_projet distinctes dans la colonne  **complexite_projet est : {df["complexite_projet"].nunique()}**'))

- Nombre des categorie de  complexite_projet distinctes dans la colonne  **complexite_projet est : 4**

In [29]:
df['complexite_projet'].value_counts()

complexite_projet
Moyenne        2577
Faible         2497
Très élevée    2470
Élevée         2456
Name: count, dtype: int64

In [30]:
display(Markdown(f'- Nombre des exigences techniques distinctes dans la colonne  **exigences_techniques_detaillees est : {df["exigences_techniques_detaillees"].nunique()}**'))

- Nombre des exigences techniques distinctes dans la colonne  **exigences_techniques_detaillees est : 25**

In [31]:
df['exigences_techniques_detaillees'].value_counts()

exigences_techniques_detaillees
Normes ISO 9001, Technologies avancées       442
Normes ISO 14001, Technologies avancées      429
Normes ISO 45001, Technologies certifiées    422
Normes ISO 9001, Technologies certifiées     420
Normes ISO 22000, Technologies avancées      419
Normes ISO 22000, Technologies modernes      413
Normes ISO 9001, Technologies innovantes     412
Normes ISO 45001, Technologies modernes      410
Normes ISO 27001, Technologies certifiées    408
Normes ISO 14001, Technologies certifiées    405
Normes ISO 14001, Technologies éprouvées     403
Normes ISO 9001, Technologies éprouvées      403
Normes ISO 27001, Technologies innovantes    401
Normes ISO 14001, Technologies modernes      401
Normes ISO 27001, Technologies modernes      401
Normes ISO 9001, Technologies modernes       399
Normes ISO 22000, Technologies certifiées    393
Normes ISO 27001, Technologies avancées      393
Normes ISO 45001, Technologies avancées      390
Normes ISO 22000, Technologies innovantes    387
Normes ISO 14001, Technologies innovantes    384
Normes ISO 45001, Technologies éprouvées     374
Normes ISO 22000, Technologies éprouvées     372
Normes ISO 45001, Technologies innovantes    369
Normes ISO 27001, Technologies éprouvées     350
Name: count, dtype: int64

In [32]:
display(Markdown(f'- Nombre des localisations soumissionnaires distinctes dans la colonne  **localisations_soumissionnaires est : {df["localisations_soumissionnaires"].nunique()}**'))

- Nombre des localisations soumissionnaires distinctes dans la colonne  **localisations_soumissionnaires est : 9847**

In [33]:
df['localisations_soumissionnaires'].value_counts()

localisations_soumissionnaires
Beni Mellal; Marrakech; Safi                                                      3
Kenitra; Oujda; Berrechid                                                         3
Kenitra; Khouribga; Settat                                                        3
Khouribga; Meknès; El Jadida                                                      3
Khouribga; Nador; Tétouan                                                         3
                                                                                 ..
Kenitra; Casablanca; Settat; Khouribga; Rabat; Marrakech; Marrakech; Marrakech    1
Safi; Oujda; Salé; Khouribga; Beni Mellal; Berrechid; Tétouan; Mohammedia         1
Safi; Rabat; Beni Mellal                                                          1
Fès; Marrakech; Oujda; Tétouan; Tanger; Khouribga; Agadir; Beni Mellal            1
Fès; El Jadida; Casablanca; Mohammedia; Agadir; Marrakech                         1
Name: count, Length: 9847, dtype: int64

In [34]:
display(Markdown(f'- Nombre des categorie de tailles entreprises distinctes dans la colonne  **tailles_entreprises est : {df["tailles_entreprises"].nunique()}**'))

- Nombre des categorie de tailles entreprises distinctes dans la colonne  **tailles_entreprises est : 5717**

In [35]:
df['tailles_entreprises'].value_counts()

tailles_entreprises
Grande entreprise; PME; ETI                                                                                      38
PME; ETI; PME                                                                                                    36
Moyenne entreprise; ETI; ETI                                                                                     35
Grande entreprise; ETI; PME                                                                                      33
Grande entreprise; PME; Grande entreprise                                                                        33
                                                                                                                 ..
Moyenne entreprise; Grande entreprise; Grande entreprise; ETI; ETI; PME; Grande entreprise; Grande entreprise     1
Grande entreprise; Grande entreprise; PME; Grande entreprise; Moyenne entreprise; Grande entreprise; ETI          1
ETI; ETI; PME; Grande entreprise; PME; Grande entreprise; Grande entreprise; ETI                                  1
Moyenne entreprise; PME; Moyenne entreprise; PME; PME; Moyenne entreprise; ETI; PME                               1
Grande entreprise; PME; ETI; Moyenne entreprise; ETI; PME                                                         1
Name: count, Length: 5717, dtype: int64

#### La présentation de quelques relations entre les variables (features).